<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="style.css">
<body ng-app="app" ng-controller="mainCtrl">

    <login-screen ng-if="!isLoggedIn()"></login-screen>
    <user-screen ng-if="isLoggedIn()"></user-screen>





    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="../interview/node_modules/interactjs/dist/interact.js"></script>
    <script src="app.js"></script>
    <script src="user/user.js"></script>
    <script src="login/login.js"></script>
    <script src="services/loggedInSevice.js"></script>
    <script src="services/storageService.js"></script>
    <script src="services/draggableService.js"></script>
</body>

</html>